button,
a {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  gap: 64px;
  font-family: 'Montserrat', sans-serif;

  // https://css-pattern.com/
  --s: 6px;
  /* control the size */

  --g: #0000 66%, #a691ce 68% 98%, #0000;
  background:
    radial-gradient(30% 30% at 0% 30%, var(--g)) var(--s) calc(9*var(--s)),
    radial-gradient(30% 30% at 100% 30%, var(--g)) var(--s) calc(-1*var(--s)),
    radial-gradient(30% 30% at 30% 100%, var(--g)) calc(10*var(--s)) 0,
    radial-gradient(30% 30% at 30% 0%, var(--g)) #bfb0db;
  background-size: calc(20*var(--s)) calc(20*var(--s));
}

@mixin app_button($color: #a691ce) {
  background-color: $color;
  border: none;
  padding: 8px 16px;
  border-radius: 2px;
  color: #fff;
  font-weight: 700;
  align-self: flex-end;

  &:hover {
    background-color: darken($color, 10);
  }
}

.content {
  margin-inline: auto;
  width: min(80ch, 100vw - 4%);
}

.app_header {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding-block: 12px;

  span {
    font-size: clamp(16px, 10px + 2vw, 26px);
  }

  nav {
    margin-inline: auto;
    width: min(80ch, 100vw - 4%);
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      @include app_button(#b14242);
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 4px 16px 0px rgb(0, 0, 0, 0.2);

  .form_group {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      font-size: 18px;
      text-decoration: none;
      outline: 1px solid #000;
      padding: 4px 16px;
      border-radius: 2px;
      transition: 150ms;
    }

    a:hover {
      background-color: #bfb0db;
    }

    a:visited {
      color: #000;
    }
  }

  h1 {
    font-weight: 700;
    font-size: clamp(16px, 2vw + 16px, 42px);
  }

  button[type=submit] {
    @include app_button;
  }
}



.app_input {
  display: flex;
  flex-direction: column;
  gap: 4px;

  input {
    padding: 8px 4px;
    border: none;
    background-color: transparent;
    outline: 1px solid #000;
    border-radius: 2px;

    &:focus {
      outline-color: purple;
      outline-width: 2px;
    }
  }

  span {
    height: 16px;
    font-size: 14px;
    color: rgb(184, 12, 12);
  }
}

.title {
  font-size: clamp(20px, 16px + 2vw, 36px);
  font-weight: 700;
  color: #000;
}

table {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 4px;

  thead {
    border-bottom: 1px solid #bfb0db;
  }

  thead,
  tbody {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  tr {
    display: grid;
    grid-template-columns: 60px 1fr 1fr 100px 26px 26px;
    align-items: center;

    td,
    th {
      display: flex;
    }

    td {
      flex-direction: column;
    }
  }
}

.client_btn {
  cursor: pointer;
  width: 20px;
}